# Node.js / Playwright / VS Code / Logs / Reports
node_modules/
allure-results/
allure-report/
.vscode/
.env
*.log
.DS_Store
dist/
package-lock.json/
yarn.lock
.history/
reports/
reports/cucumber-report.html